<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MCQ Paper</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="paper">
    <div class="question01">
      <ion-grid id="single-select">
        <ion-row>
          <div>
            1) If 5x plus 32 equals 4 minus 2x what is the value of x ? 
          </div>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let item of q1Answers;">
            <div class="single-answer" (click)="selectedAnswer(item.index)">
              <button id={{item.index}}>
                {{item.index}} ) {{item.value}}
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>